{{ define "header" }}
<head>
      <meta http-equip="Content-Type" content="text/html" charset="utf-8">
      <title>Go Clinic Pte Ltd</title>
      <link href="/static/css/css1.css" rel="stylesheet">
</head>
{{ end }}
