<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Stuff/Style.css">
    {{template "HeadTitle" .PageName}}
    <!-- <title>Car Rental App - New User Registration</title> -->
</head>

<body>
    {{template "BodyTitle" .}}
    <br>
    <h3 class="Application">Please enter email and password for registration!</h3>
    <div class="Application">
        <form method="post">
            <div>
                <input type="text" name="name" placeholder="User Name"><br>
                <input type="password" name="password" placeholder="Password"><br>
                <input type="password" name="confirmpassword" placeholder="Confirm Password"><br>
                <input type="text" name="username" placeholder="Email"><br>
            </div>
            <input class="Application" type="submit">
            <b><a href="/login">Log In</a></b>
        </form>
    </div>
    <h4 class="Application" id="MsgToUser"></h4>


</body>

</html>