<!doctype html>
<html lang="en">
{{ template "header" }}
<body>
 <div class="container">
<h1>Update Particulars</h1>

     <form method="post" >
      
        <br>
        {{ range $key, $value := . }}
            {{ if eq $key "Email" }}
            <label for="pwd" class="label">Password </label>
            <br />
                <input id="pwd" type="password" name="pwd" placeholder="password" autocomplete="off" class="input" required autofocus><br>
                <label for="username" class="label">Email </label>
                <br />
                <input id="email" type="text" name="email" placeholder="email"  class="input" value={{ $value}} >
                <br>
             {{ else }}
              <label for="pwd" class="label">Password </label><br />
               <input id="pwd" type="password" name="pwd" placeholder="password" autocomplete="off" class="input" required autofocus><br>
            {{ end }}
        {{ end }}
 
        <input type="submit" class="submit">
    </form>
    <br />
<!--
  {{ with .Error }}
    {{ if eq . "failed" }}
        Match: ."Error"   -  doesnt print the value of "Error"
    {{ else }}
        Not Match
    {{ end }}

{{ end }}
-->
<br />

The DOT value in email.gohtml
{{ . }}

{{ range $key, $value := . }}
  {{ if eq $key "Message" }}
    <p> {{ $value  }} <p>
     {{ end }}
{{ end }}

{{ range $key, $value := . }}
  {{ if eq $key "Error" }}
     <p> {{  $value  }} <p>
     {{ end }}
{{ end }}

<br />

 
    </div>
 </body>
</html>