<!doctype html>
<html lang="en">

{{ template "header" .}}

<body>
      {{template "BodyTitle" .}}
      {{template "mainnavbar" .UserName}}
      <!-- <nav>
            <a>Home</a>&nbsp;&nbsp;&nbsp;
            <a href="/signin" class="navpadding">Sign in (Sook)</a>
            <a href="/login" class="navpadding">Sign in (Sin Yaw)</a>
            <a href="/newusersook" class="navpadding">Create an account (Sook)</a>
            <a href="/newuser" class="navpadding">Create an account (Sin Yaw)</a>
      </nav> -->
      <br>
      <br>
      <br>
      <div style="margin-left: 1.5%;">
            <h1 style="color:#66bfbf; "><Strong>RECYCLE LAH! Save the planet before it's too late. </Strong></h1>
            <h3 style="color:#66bfbf;">The earth is dying... Recycling and renewables are the answer to this! </h3>
      </div>
      <br><br>

</body>

</html>