<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECYCLE LAH! Index page</title>
    <body style="background-color:skyblue;">

</head>
<body>
<h1 style="color:blue;"><Strong>RECYCLE LAH! Safe the planet before its too late. </Strong></h1>
<h3 style="color:blue;">The earth is dying... Recycling and renewables are the answer to this! </p>
<h3 style="color:blue;">Thus, "Recycle Lah!" is born..</p><br><br>


<h2>Users and collectors. Please select below to post or query feedback.</h2>
<h2><a href="/recyclebinsFB">Post your FeedBack here.</a></h2><br>

<h2><a href="/queryFB">Query past feedbacks.</a></h2><br><br> 


<h2>Select below to see the list of all Bins.</h2>
<h2><a href="/showrecyclebins">See all Bins Details.</a></h2><br><br>

<!--<span><a href="/logout">Logout</a></span>-->
 


</body>
</html>