<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <title>Recycle-Lah!</title>
         <link href="/static/css/css1.css" rel="stylesheet">
</head>
<h1>Recycle Lah!</h1>
<nav>
<a href="/">Home</a>&nbsp;&nbsp;&nbsp;
      <a href="/signin" class="navpadding">Sign in (Sook)</a>
      <a href="/login" class="navpadding">Sign in (Sin Yaw)</a> 
       <a href="/newusersook" class="navpadding">Create an account (Sook)</a>
      <a href="/newuser" class="navpadding">Create an account (Sin Yaw)</a>
</nav>
<br />
<h1>JUNE 10 : Sin Yaw</h1>
<p>  after login, you can access /welcome page and link to View Points and View Pickup Request
<br /> View Pickup Request will call server - ShowPickupInProgress.  Based on the data, you can
try to format the output for user_pickup_list.gohtml or your own.  
<br />  The function is in route_pickup.go
</p>
<br /><br />
</html>