<!doctype html>
<html lang="en">
{{ template "header" }}
<body>
  {{ template "pubnavbar" . }}
  <div class="container">
      <h1>Recycle Lah!</h1>
      <h2>
      Test delete pickup: /dummyDeleteTask, func=dummyCalldeletePickup <br />
      Edit pickup id in dummyCalldeletePickup<br />
            Link: <a href="/dummyDeleteTask" class="navpadding">Hard-coded Delete Pickup Task</a>
            </h2>
            <br />
      <h2>
      Test show all available pickups: /dummyDeleteTask, func=dummyCallCollectorShowJobsAvailable <br />
            Link: <a href="/dummyShowAllAvailJobsforCollector" class="navpadding">jobs for any collector</a>
            </h2>
 <br />
       <h2>
      Test accept job: /dummyacceptJob, func=dummyCalldummyacceptJob <br />
            Link: <a href="/dummyAcceptJob" class="navpadding">collector accepts jobs</a>
            </h2>
            <br />
       <h2>
      Test collector view jobs assigned to himb: /dummyViewAssignedJob, func=dummyViewAttendingJob <br />
            Link: <a href="/dummyViewAssignedJob" class="navpadding">jobs assigned to collector</a>
            </h2>
  </div>
</body>
</html>