<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Stuff/Style.css">
    {{template "HeadTitle" .PageName}}
</head>

<body>
    {{template "BodyTitle" .}}
    <br>
    <h3 class="Application">You have loged out from the app! </h3>
    <h3 class="Application" style="margin-top: 2px;">Thank you for visiting...</h3>
</body>

</html>