<!doctype html>
<html lang="en">
{{ template "header" }}
 <div class="container">
   <nav>
        <a href="/" class="navpadding">Home</a>
    <nav>
  </div>
<body>
<h1>
{{ .Message }}
</h1>
</body>
</html>