<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Stuff/Style.css">
    {{template "HeadTitle" .PageName}}
</head>

<body>
    {{template "BodyTitle" .}}
    <br>
    <div style="padding: 5px;">
        <h3 id="title1">Available Pickup Job</h3><br>
    </div>

    <div>
        <div class='display'>


            {{range $v := .Jobs}}
            <div class="JobsAvailable" id="{{$v.JobID}}" onclick="change('{{$v.JobID}}');">
                <h1>{{$v.JobID}}</h1>
                <h1>{{$v.Address}}</h1>
                <h1>{{$v.Postcode}}</h1>
                <h1>{{$v.Description}}</h1>
                <h1>{{$v.WeidthRange}}</h1>
            </div>
            {{end}}
        </div>
    </div>
    <form method="POST">
        <div id="divDuration" class="Application"
            style="padding: 5px; overflow: hidden; width:0; height: 0; margin-top: 18px;">



        </div>
        <input class="Application" style="margin-left: 0" type="submit">
    </form>


</body>

</html>