<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/Stuff/Style.css">
    {{template "HeadTitle" .PageName}}
</head>

<body>
    {{template "BodyTitle" .}}
    <br>
    <div style="padding: 5px;">
        <h3 id="title1">Please selete jobs</h3><br>
    </div>
    <form method="POST">
        <div>
            <div class='display' style='height: fit-content ;width: 100%'>

            </div>
        </div>
    </form>

    <br><br>

    {{template "Footer"}}


</body>

</html>