<!doctype html>
<html lang="en">

{{ template "header" .}}

<body>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th,
    td {
      padding: 5px;
    }

    th {
      text-align: left;
    }

    img {
      width: 20%;
      width: 20%;
    }
  </style>


  {{template "BodyTitle" .}}
  {{template "mainnavbar" .UserName}}
  <br>


  <h3>Showing all Bins details and availibility.</h3><br>
  <div class="RecycleBin">
    <p>Select your items and fill in the require fields.</p>

    <table style="width:65%">
      <tr>
        <th>Bin ID</th>
        <th>Bin Type</th>
        <th>Bin Latitude</th>
        <th>Bin Longitude</th>
        <th>Bin Address</th>
        <th>Postcode</th>
        <th>Bin Fullness</th>
      </tr>

      {{ range $v:= .Bins }}
      <tr>
        <th>{{$v.BinID}}</th>
        <th>{{$v.BinType }}</th>
        <th>{{$v.BinLocationLat }}</th>
        <th>{{$v.BinLocationLong }}</th>
        <th>{{$v.BinAddress }}</th>
        <th>{{$v.Postcode }}</th>
        <th>{{$v.ColorCode }}</th>
      </tr>
      {{ end }}
    </table>
  </div><br>


  <!-- <a href="/">Hope Page</a> -->

</body>

</html>