<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RECYCLE LAH! Show RecycleBins details page</title>
    <body style="background-color:skyblue;">
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
    }
    th {
        text-align: left;
    }
    img {
        width: 20%;
        width: 20%;
    }
    </style>

</head>
<body>
<h1 style="color:blue;"><Strong>RECYCLE LAH! Safe the planet before its too late. </Strong></h1>
<h3 style="color:blue;">The earth is dying... Recycling and renewables are the answer to this! </p>
<h3 style="color:blue;">Thus, "Recycle Lah!" is born..</p><br><br>


<h2 style="color:green;"><Strong>Showing all Bins details and availibility.</Strong></h2>
<p>Select your items and fill in the require fields.</p>


<table style="width:65%">
  <tr>
    <th>Bin ID</th>
    <th>Bin Type</th>
    <th>Bin Latitude</th> 
    <th>Bin Longitude</th>
    <th>Bin Address</th>
    <th>Postcode</th>
    <th>Bin Fullness</th>
  </tr>

  {{ range . }}
  <tr>
    <th>{{.BinID}}</th>
    <th>{{.BinType }}</th>
    <th>{{.BinLocationLat }}</th>
    <th>{{.BinLocationLong }}</th> 
    <th>{{.BinAddress }}</th> 
    <th>{{.Postcode }}</th>
    <th>{{.ColorCode }}</th> 
  </tr>
  {{ end }}
</table><br>




<a href="/">Back to RecycleLah Index Page</a>

</body>
</html>