<!doctype html>
<html lang="en">

{{ template "header" }}

<body>
    {{template "BodyTitle" .}}
    <br>
    <h3>My Pickup Requests</h3>
    <div class="ViewBookings">
        <table>
            <tr>
                <th>Id</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Address</th>
                <th>CreatedBy</th>
                <th>Collector</th>
                <th>Completed</th>
            </tr>
            {{ range $v := .PickupList }}
            <tr>
                <td>
                    {{ $v.Id}}
                </td>
                <td>
                    {{ $v.Lat }}
                </td>
                <td>
                    {{ $v.Lng }}
                </td>
                <td>
                    {{ $v.Address }}
                </td>
                <td>
                    {{ $v.CreatedBy }}
                </td>
                <td>
                    {{ $v.Collector }}
                </td>
                <td>
                    {{ $v.Completed }}
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
    <br />

    <!--
Another way 2
{{ range $key, $value := . }}
<h3> {{ $key }}</h3>
<p>{{ $value }}</p>
{{ end }}
<br />
Another Way 3
{{ range . }} {{ . }} <br /> {{ end }}
<br />
Another way 4
{{ range . }}

{{ if .FamilyName }}
   FamilyName: {{ .FamilyName}}
{{ end }}
<br />
{{ end }}
Another way 5
-->
</body>

</html>