<!doctype html>
<html lang="en">
{{ template "header" .}}

<body>
  {{template "BodyTitle" .}}
  {{ if eq .Collector "Y" }}
  {{ template "col_prinavbar" . }}
  {{ else }}
  {{ template "prinavbar" . }}
  {{ end }}

  <div class="container">
    <!-- <h1>Hello <h1>
        {{ if .UserName }}
        {{ .UserName }}
        {{ end }} -->

    <br />
    <br />
    <!-- {{ if .Token }}
    Token = {{ .Token }}
    {{ end }} -->
    <br />
  </div>
</body>

</html>