<!doctype html>
<html lang="en">
{{ template "header" }}
<body>
    {{ if eq .Collector "Y" }}
       I am a collector
               {{ template "col_prinavbar" . }}
     {{ else }}
       I am a user (not a collector)
        {{ template "prinavbar" . }} 
    {{ end }}

  <div class="container">
    <h1>Hello <h1>
    {{ if .UserName }}
        {{ .UserName }}
    {{ end }}

    <br />
<br />
     {{ if .Token }}
       Token = {{ .Token }}
    {{ end }}
    <br />
  </div>
 </body>
</html>