<!doctype html>
<html lang="en">
{{ template "header" }}
<body>
<h1>Go Clinic Pte Ltd</h1>
<h3><u>Clinic Address</u></h3>
<h4>123 Jalan Bukit Merah<br />
Unit #01-789<br /></h4>
<h3><u>Opening Hours</u></h2>
<h4>Monday - Friday: 9am to 4.45pm<br />Saturday: 9am to 12pm</h4>

<h3><u>Contact</u></h3>
<h4>Tel:(65) 64561234<br />Email: go@healthclinic.com.sg</h4>
</body>
</html>