<!doctype html>
<html lang="en">
{{ template "header" }}
<body>
 <div class="container">
<h2>Your account has been created</h2>
 <h3> Please click <a href="/signin" class="navpadding">Sign in</a> to login</h3>
    </div>
  </body>
</html>
