<!doctype html>
<html lang="en">
{{ template "header" .}}

<body>
  {{template "BodyTitle" .}}
  {{ if eq .Collector "Y" }}
  {{ template "col_prinavbar" . }}
  {{ else }}
  {{ template "prinavbar" . }}
  {{ end }}

  <br>
  <br>
  <br>
  <div style="margin-left: 1.5%;">
    <h1 style="color:#66bfbf; "><Strong>RECYCLE LAH! Save the planet before it's too late. </Strong></h1>
    <h3 style="color:#66bfbf;">The earth is dying... Recycling and renewables are the answer to this! </h3>
  </div>

  <div class="container">
    <!-- <h1>Hello <h1>
        {{ if .UserName }}
        {{ .UserName }}
        {{ end }} -->

    <br />
    <br />
    <!-- {{ if .Token }}
    Token = {{ .Token }}
    {{ end }} -->
    <br />
  </div>
</body>

</html>